
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>FariX - Blog Platform</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

  <script type="text/javascript">
  $(document).ready(function($){
    
    var nav = $('#farix-nav');
    
    $(window).scroll(function () {
        if ($(this).scrollTop() > 100) {

            nav.addClass("farix-nav-fixed");
            $('#farix-nav').stop().animate({'opacity':'0.2'},400);

            if($("#farix-nav").hover(function() {
              $('#farix-nav').stop().animate({'opacity':'1'},400);
            }));

        } else {
            nav.removeClass("farix-nav-fixed");
             $('#farix-nav').stop().animate({'opacity':'1'},400);
        }
    });
 
});
  </script>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ STATIC_URL }}blog/css/normalize.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}blog/css/skeleton.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}blog/css/custom.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
{% autoescape on %}
<body id="page">

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div id='farix-nav'>
      <div class="container nav-bar">
       <div class="row">
            <div id="farix-logo">
              <h1>FariX</h1>
            </div>
            <div id="farix-menu">
              <ul>
                  <li><a href="{% url 'blog_index' %}">Home</a>
                <li><a href="#">About Us</a>

                {% if user.is_authenticated %}
                  <li><a href="/logout/"><button id='nav-btn'>Log Out</button></a></li>
                {% else %}
                  <li><a href="/login/"><button id='nav-btn'>Log In</button></a></li>
                {% endif %}
              </ul>
            </div>
        </div>
      </div>
    </div>

  <div class="container content">
    <div class="row">
      <div class="nine columns">

      <center><h2>Section Posts</h2>

      <br/>

      {% if posts %}

        {% for post in posts %}

          {% if post.section.enabled == True %}
        
       <h3><a id="farix-link" href="/blog/{{post.id}}/">{{ post.title }}</a></h3>
        <h6>Written by <a href="#">{{ post.author }}</a> at {{ post.created_on }}</h6>
        <hr />

        {% endif %}

        {% endfor %}

            {%else%}
              <h2>No posts found</h2>
             {% endif %}

        </center>

      </div>

      <div id="farix-sidebar">
        <div class="container">

      <div id="search">
        <form action="/login/" method="POST">
           <input class="u-full-width" placeholder="Search Blog" name="username" type="text">
        </form>
      </div>

          <ul>
          <li>
                <h5>Latest Posts</h5>
                <ul id="farix_sidebar_post"> 
                   {% for posts in latest_post %}
                   <li><a href="/blog/{{posts.id}}/">{{posts.title}}</a></li>
                   {% endfor %}
                </ul>
            </li>
            <li>
                <h5>Blog Sections</h5>
                <ul id="farix_sidebar_section"> 
                   {% for sections in blog_sect %}
                   <li><a href="/blog/section/{{sections.section_name}}/">{{sections.section_name}}</a></li>
                   {% endfor %}
                </ul>
            </li>
            <li>
                <h5>Authors</h5>
                <ul id="farix_sidebar_section">
                {% if usr_list %}
                  {% for users in usr_list %}
                          <li><a href="/blog/author/{{ users.username }}/">{{ users.username }}</a></li>
                  {% endfor %}
                {% endif %}
                </ul>
            </li>
            <br /><br />
          </ul>

          </div>
      </div>

      </div>

      </div>

      <div id="farix-footer">

            <footer>

                <div id="footer-text">
           
            Powered by <a href="#">Django</a> & Designed using <a href="#">Skeleton</a><br />
            Developed by <a href="https://github.com/ex094/">Muhammad Aslam Khan</a>

                </div>

            </footer>

      </div>
        
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
{% endautoescape %}
</html>
